body {
    background-color: burlywood;
    margin: 0;
}

.title {
    text-align: center;
}

#two_boards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: stretch;
    margin: 2rem auto;
    width: 80%;
}



#removable1,
#stable {
    background-color: brown;
    border: 12px rgb(15, 185, 194) solid;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board_block_1,
.board_block_2 {
    text-align: center;
    height: 30px;
    width: 30px;

}

.dot-strike {
    margin: 13px auto;
    height: 4px;
    width: 4px;
    border-radius: 60%;
    background-color: black;
}




.board_block_1 {

    background-color: blue;
    border: 1px green solid;
}



.board_block_2 {
    background-color: rgba(255, 255, 0, 0.768);
    border: 1px blue solid;
}

.board_block_1-strike {
    background-color: darkgray;
}

.boat {
    background-color: white;
}

.moving-boat {
    background-color: yellowgreen;
}

.moving-boat-border {
    border: 1px salmon solid;
}

.testColor {
    background-color: black;


}

.hit-boat {
    background-color: rgb(61, 50, 18);
    color: red;
    border: 1px rgb(61, 50, 18) solid;
    line-height: 2;
    font-weight: 500;
    /* margin: 13px auto; */
    /* height: 4px;
    width: 4px; */
}