body {
    background-color: burlywood;
    margin: 0;
}

.title {
    text-align: center;
}

#two_boards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    align-items: stretch;
    margin: 2rem auto;
    width: 80%;
}

#board_1,
#board_2 {
    background-color: brown;
    border: 2px gold solid;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.board_block_1 {
    height: 30px;
    width: 30px;
    background-color: blue;
    border: 1px green solid;
}